# Core IO + plotting
matplotlib
holoviews
h5py

# Optional functionality
#
# TODO: reformat as extras_require = {
#    "numpy": ["numpy"], ...}
#
# https://stackoverflow.com/a/27361558
#
#scipy
#xarray
